body{
    background-color: rgba(160, 110, 220, 0.696);
}
h1{
    color: rgb(8, 8, 123);
    margin-bottom: -5px;
    padding: 30px;
}
p{
    margin-bottom: -10px;
}
.ui{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
}
.cell{
    border: none;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}
.cell:active{
    outline: none;
}
#b1{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}
#b2 {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}
#b3 {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}
#b4 {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}
#b5 {
    border: 1px solid gray;
}
#b6 {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}
#b7 {
    border-top: 1px solid gray;
    border-right: 1px solid gray;
}
#b8 {
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}
#b9 {
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
#but{
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 2px solid rgb(255, 255, 255);
    margin-left: auto;
    border-radius: 8px;
    font-family: sans-serif;
    background-color: rgb(134, 231, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
}
#but:hover
{padding: 5px;
    background-color: rgb(11, 26, 32);
    color: white;
    font-size: 25px;
    width: 130px;
    height: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.2em;
}

#print{
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: rgb(0, 0, 0);
    padding: 10px;
     border-radius: 10px;
}
#main{
    text-align: center;
}
#ins{
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(134, 235, 255);
    border-radius: 10px;
    padding: 10px;
}